@import '@/src/styles/_mixin.scss';

.headerContainer {
  padding: 0 3rem 0 1.5rem;
  background-color: var(--background-app-color);
  border-bottom: 1px solid #ddd;
  @include flexDisplay;
  justify-content: space-between;

  .header_left {
    @include flexDisplay;
    .header__name {
      font-size: 2rem;
      text-transform: capitalize;
      margin-left: 0.5rem;
      a {
        color: var(--primary-color);
      }
    }
  }

  .header_right {
    @include flexDisplay;

    .header__icon,
    .header__icon_notify {
      @include animationIcon;
    }

    .header__icon_notify {
      @include flexDisplay;

      font-size: 2rem;
      .icon_fill_down {
        font-size: 1rem;
      }
    }
  }
}
