.product_container {
  padding-bottom: 10rem;
  overflow: initial;
  height: 100vh;
  overflow-y: auto;

  .imgProductWrapper {
    width: 7rem;
  }

  .product__desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }
}
