@import '@/src/styles/_mixin.scss';

.product_container {
  padding-bottom: 10rem;
  @include container_scroll;
  .imgProductWrapper {
    width: 7rem;
  }

  .product__desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }
}
