@mixin flexDisplay {
  display: flex;
  align-items: center;
}

@mixin titleStyle {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

@mixin descStyle {
  color: $textColor;
  font-size: 1.4rem;
  text-transform: capitalize;
}

@mixin tableDashboardStyle {
  width: 100%;
  border-collapse: collapse;
  height: 50%;
  overflow-y: auto;
  td {
    padding: 1.2rem 0.7rem;
    vertical-align: middle;
    border-collapse: collapse;
    border-top: 1px solid #dee2e6;
  }
}

@mixin formInput {
  max-width: 100rem;
  padding: 10rem 0;
}

@mixin container_scroll {
  overflow: initial;
  height: 100vh;
  overflow-y: auto;
}

@mixin animationIcon {
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-left: 3rem;

  &:hover {
    color: #51cbce;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
