@import './overrideAntd.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$colorText: #2c2c2c;

:root {
  --primary-color: #66615b;
  --white-color: #fff;
  --text-menu-color: #d1d0ce;
  --background-app-color: #f4f3ef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
}

body {
  color: $colorText;
  overflow-y: hidden; //Test
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 1.5rem 1.5rem;
  margin: 0 auto;
}

//Button in table
.btn-edit {
  color: blue;
  cursor: pointer;
  margin-bottom: 0.2rem;
}

.btn-delete {
  color: red;
  cursor: pointer;
}

//Btn add new
.btn_add_right {
  float: right;
  margin: 2rem 0;
}

.btn_add_left {
  float: left;
  margin: 2rem 2rem 0;
}
